* {
    background-color: #191919;
    color: white;
    font-size: 40px;
    font-family: Calibri, sans-serif;
}

input {
    border-radius: 20px;
    padding: 10px;
}

button {
    margin-left: 20px;
    border-radius: 20px;
    padding: 10px;
}